@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style-type: disc !important;
  line-height: 2.3 !important;
}
body {
  @apply bg-dark;
}
.list {
  list-style-type: none !important;
}
